.categoryListItem{
    text-decoration: none;
    font-size: 20px;
    text-align: left;
    list-style: none;
}

.categoryList{
    display: block;
    padding: 10px;
    list-style: none;
    margin-left: 20px;
}